/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}

/* Add your styles here */


.cyd-buttons {
	margin-top:15px;
	margin-bottom:15px;
	text-align:right;
}


.cyd-table td {
	background-color:#fff;
}


.cyd-table td.cyd-btncol {
	text-align:right;
}

.cyd-table th {
	background-color: #64b5f6;
	color:#fff;
}

.m .modal .modal-content {
	padding: 15px;
	width: 100% !important;
}